Repository open-mmlab/mmcv, pull requests merged in 2021-12, with the labels that each got.

#1512 [Doc]: Fix deploy doc
  docs/deployment/mmcv_ops_definition.md
  docs/deployment/onnx.md
  docs/deployment/onnxruntime_custom_ops.md
  docs/deployment/onnxruntime_op.md
  docs/deployment/tensorrt_plugin.md
  docs/index.rst
Labels: Doc

#1572 [Improve] Improve the perf of roialign, nms and focalloss with MLU backend
  mmcv/ops/csrc/common/mlu/focal_loss_sigmoid_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/nms_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/roi_align_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/focal_loss.cpp
  mmcv/ops/csrc/pytorch/mlu/focal_loss_sigmoid_mlu.cpp
  mmcv/ops/csrc/pytorch/mlu/nms_mlu.cpp
  mmcv/ops/csrc/pytorch/roi_align.cpp
Labels: MLU

#1599 [Feature] Add RiRoIAlignRotated CUDA op for rotated detection.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/csrc/common/cuda/riroi_align_rotated_cuda_kernel.cuh
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/cuda/riroi_align_rotated_cuda.cu
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/csrc/pytorch/riroi_align_rotated.cpp
  mmcv/ops/riroi_align_rotated.py
  tests/test_ops/test_riroi_align_rotated.py
Labels: CUDA

#1600 [Feature] Add points_in_polygons CUDA op for rotated detection.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/csrc/common/cuda/points_in_polygons_cuda_kernel.cuh
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/cuda/points_in_polygons_cuda.cu
  mmcv/ops/csrc/pytorch/points_in_polygons.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/points_in_polygons.py
  tests/test_ops/test_points_in_polygons.py
Labels: CUDA
