Repository open-mmlab/mmcv, pull requests merged in 2021-04, with the labels that each got.

#916 [feature]:add onnxruntime custom op grid_sample
  mmcv/ops/csrc/onnxruntime/cpu/gridSample.cpp
  mmcv/ops/csrc/onnxruntime/cpu/onnxruntime_register.cpp
  mmcv/ops/csrc/onnxruntime/grid_sample.h
  tests/test_ops/test_onnx.py
Labels: ONNX

#917 Fix onnx interpolate conversion
  mmcv/onnx/onnx_utils/symbolic_helper.py
Labels: ONNX

#927 Remove onnx-simplify source code(deprecated)
  docs/onnx.md
  mmcv/onnx/simplify/__init__.py
  mmcv/onnx/simplify/common.py
  mmcv/onnx/simplify/core.py
  setup.cfg
  tests/test_ops/test_onnx.py
Labels: ONNX

#920 [Doc]: Add document of TensorRT and onnxruntime custom ops
  .pre-commit-config.yaml
  docs/deployment.rst
  docs/index.rst
  docs/onnxruntime_custom_ops.md
  docs/onnxruntime_op.md
  docs/tensorrt_custom_ops.md
  docs/tensorrt_plugin.md
Labels: Doc, deployment

#891 fix cuda compile error
  mmcv/ops/csrc/deform_conv_cuda_kernel.cuh
  mmcv/ops/csrc/deform_roi_pool_cuda_kernel.cuh
  mmcv/ops/csrc/modulated_deform_conv_cuda_kernel.cuh
  mmcv/ops/csrc/roi_align_cuda_kernel.cuh
  mmcv/ops/csrc/roi_pool_cuda_kernel.cuh
Labels: Windows

#933 Add Rotated ROI align op for pytorch (cpu&cuda), parrots (cpu&cuda) and onnxruntime (cpu)
  mmcv/ops/__init__.py
  mmcv/ops/box_iou_rotated.py
  mmcv/ops/csrc/onnxruntime/cpu/onnxruntime_register.cpp
  mmcv/ops/csrc/onnxruntime/cpu/roi_align_rotated.cpp
  mmcv/ops/csrc/onnxruntime/roi_align_rotated.h
  mmcv/ops/csrc/parrots/roi_align_rotated.cpp
  mmcv/ops/csrc/parrots/roi_align_rotated_cpu.cpp
  mmcv/ops/csrc/parrots/roi_align_rotated_cuda.cu
  mmcv/ops/csrc/parrots/roi_align_rotated_parrots.cpp
  mmcv/ops/csrc/parrots/roi_align_rotated_pytorch.h
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/csrc/pytorch/roi_align_rotated.cpp
  mmcv/ops/csrc/pytorch/roi_align_rotated_cpu.cpp
  mmcv/ops/csrc/pytorch/roi_align_rotated_cuda.cu
  mmcv/ops/csrc/roi_align_rotated_cuda_kernel.cuh
  mmcv/ops/roi_align_rotated.py
  tests/test_ops/test_onnx.py
  tests/test_ops/test_roi_align_rotated.py
Labels: enhancement
