Repository open-mmlab/mmcv, pull requests merged in 2021-01, with the labels that each got.

#686 [Feature]: Add custom operators support for TensorRT in mmcv
  mmcv/onnx/__init__.py
  mmcv/onnx/info.py
  mmcv/ops/csrc/onnxruntime/roi_align.h
  mmcv/ops/csrc/roi_align_cuda_kernel.cuh
  mmcv/ops/csrc/tensorrt/plugins/trt_plugin.cpp
  mmcv/ops/csrc/tensorrt/plugins/trt_roi_align.cpp
  mmcv/ops/csrc/tensorrt/plugins/trt_roi_align_kernel.cu
  mmcv/ops/csrc/tensorrt/trt_plugin.hpp
  mmcv/ops/csrc/tensorrt/trt_plugin_helper.hpp
  mmcv/ops/csrc/tensorrt/trt_roi_align.hpp
  mmcv/ops/csrc/tensorrt/trt_serialize.hpp
  mmcv/ops/roi_align.py
  mmcv/tensorrt/__init__.py
  mmcv/tensorrt/init_plugins.py
  mmcv/tensorrt/tensorrt_utils.py
  setup.cfg
  setup.py
  tests/test_ops/test_onnx.py
  tests/test_ops/test_tensorrt.py
Labels: deployment

#779 [Fix]: Set installation of onnx simplify's related packages to optional
  docs/onnx.md
  mmcv/onnx/__init__.py
  tests/test_ops/test_onnx.py
Labels: ONNX

#786 [Feature] : Add ScatterND TensorRT Plugin
  mmcv/ops/csrc/tensorrt/plugins/trt_plugin.cpp
  mmcv/ops/csrc/tensorrt/plugins/trt_scatternd.cpp
  mmcv/ops/csrc/tensorrt/plugins/trt_scatternd_kernel.cu
  mmcv/ops/csrc/tensorrt/trt_cuda_helper.cuh
  mmcv/ops/csrc/tensorrt/trt_plugin_helper.hpp
  mmcv/ops/csrc/tensorrt/trt_scatternd.hpp
  tests/test_ops/test_tensorrt.py
Labels: deployment

#797 [Doc]: add a short document for TensorRT plugins in mmcv
  docs/conf.py
  docs/tensorrt_plugin.md
Labels: Doc, deployment
