Repository open-mmlab/mmcv, pull requests merged in 2022-10, with the labels that each got.

#2248 [Refactor] Adapt mlu code to cntoolkit3.0.1
  mmcv/ops/csrc/common/mlu/bbox_overlaps_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/carafe_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/common_mlu_helper.hpp
  mmcv/ops/csrc/common/mlu/nms_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/nms_utils.hpp
  mmcv/ops/csrc/common/mlu/psamask_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/roi_align_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/roi_pool_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/tin_shift_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/nms_mlu.cpp
Labels: MLU

#2323 Npu-dev: FocalLoss Adapter BugFix
  .pre-commit-config.yaml
  README.md
  mmcv/ops/csrc/pytorch/npu/focal_loss_npu.cpp
Labels: NPU

#2277 [Feature] Add box_iou_quadri & nms_quadri
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/box_iou_quadri.py
  mmcv/ops/csrc/common/box_iou_rotated_utils.hpp
  mmcv/ops/csrc/common/cuda/box_iou_quadri_cuda.cuh
  mmcv/ops/csrc/common/cuda/nms_quadri_cuda.cuh
  mmcv/ops/csrc/pytorch/box_iou_quadri.cpp
  mmcv/ops/csrc/pytorch/cpu/box_iou_quadri.cpp
  mmcv/ops/csrc/pytorch/cpu/nms_quadri.cpp
  mmcv/ops/csrc/pytorch/cuda/box_iou_quadri_cuda.cu
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/cuda/nms_quadri_cuda.cu
  mmcv/ops/csrc/pytorch/nms_quadri.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/nms.py
  tests/test_ops/test_box_iou_quadri.py
  tests/test_ops/test_nms_quadri.py
Labels: 2.x, CUDA

#2337 [Enhancement] Add getJobLimitCapability interface and use it in nms
  mmcv/ops/csrc/common/pytorch_mlu_helper.hpp
  mmcv/ops/csrc/pytorch/mlu/nms_mlu.cpp
Labels: MLU

#2146 [Feature] Add TTA transform
  mmcv/transforms/__init__.py
  mmcv/transforms/processing.py
  tests/test_transforms/test_transforms_processing.py
Labels: 2.x

#2325 [Docs] Translate data_transform.md to English
  docs/en/get_started/build.md
  docs/en/get_started/introduction.md
  docs/en/understand_mmcv/cnn.md
  docs/en/understand_mmcv/data_process.md
  docs/en/understand_mmcv/data_transform.md
  docs/zh_cn/understand_mmcv/data_transform.md
Labels: 2.x

#2237 [Enhancement] wandb define_metric
  mmcv/runner/hooks/logger/wandb.py
  tests/test_runner/test_hooks.py
Labels: awaiting response
