Repository open-mmlab/mmcv, pull requests merged in 2022-01, with the labels that each got.

#1643 Fix Windows cuda compilation error on floor()
  mmcv/ops/csrc/common/cuda/riroi_align_rotated_cuda_kernel.cuh
  mmcv/ops/csrc/common/cuda/voxelization_cuda_kernel.cuh
Labels: Windows

#1592 [Enhancement] Add clockwise argument to ops box_iou_rotated and nms_rotated
  mmcv/ops/box_iou_rotated.py
  mmcv/ops/nms.py
  tests/test_ops/test_box_iou_rotated.py
  tests/test_ops/test_nms_rotated.py
Labels: CUDA

#1611 [Feature] Add min_area_polygons CUDA op for rotated detection.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/csrc/common/cuda/min_area_polygons_cuda.cuh
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/cuda/min_area_polygons.cu
  mmcv/ops/csrc/pytorch/min_area_polygons.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/min_area_polygons.py
  tests/test_ops/test_min_area_polygons.py
Labels: CUDA

#1616 add artifact logging to wandb hook
  mmcv/runner/hooks/logger/wandb.py
  tests/test_runner/test_hooks.py
Labels: Feature

#1598 [Feature] Add active rotated filter op for rotated detection.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/active_rotated_filter.py
  mmcv/ops/csrc/common/cuda/active_rotated_filter_cuda_kernel.cuh
  mmcv/ops/csrc/pytorch/active_rotated_filter.cpp
  mmcv/ops/csrc/pytorch/cpu/active_rotated_filter.cpp
  mmcv/ops/csrc/pytorch/cuda/active_rotated_filter_cuda.cu
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  tests/test_ops/test_active_rotated_filter.py
Labels: CUDA

#1610 [Feature] Add convex IoU CUDA op for rotated detection.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/__init__.py
  mmcv/ops/convex_iou.py
  mmcv/ops/csrc/common/cuda/convex_iou_cuda_kernel.cuh
  mmcv/ops/csrc/pytorch/convex_iou.cpp
  mmcv/ops/csrc/pytorch/cuda/convex_iou.cu
  mmcv/ops/csrc/pytorch/cuda/cudabind.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  tests/test_ops/test_convex_iou.py
Labels: CUDA
