Repository open-mmlab/mmcv, pull requests merged in 2022-08, with the labels that each got.

#2179 Remove fileio from mmcv and use mmengine.fileio instead
  docs/en/api.rst
  docs/en/index.rst
  docs/en/understand_mmcv/io.md
  docs/zh_cn/api.rst
  docs/zh_cn/index.rst
  docs/zh_cn/understand_mmcv/io.md
  mmcv/__init__.py
  mmcv/engine/test.py
  mmcv/fileio/__init__.py
  mmcv/fileio/file_client.py
  mmcv/fileio/handlers/__init__.py
  mmcv/fileio/handlers/base.py
  mmcv/fileio/handlers/json_handler.py
  mmcv/fileio/handlers/pickle_handler.py
  mmcv/fileio/handlers/yaml_handler.py
  mmcv/fileio/io.py
  mmcv/fileio/parse.py
  mmcv/image/io.py
  mmcv/runner/checkpoint.py
  mmcv/runner/hooks/checkpoint.py
  mmcv/runner/hooks/evaluation.py
  mmcv/runner/hooks/logger/pavi.py
  mmcv/runner/hooks/logger/text.py
  mmcv/transforms/loading.py
  mmcv/utils/config.py
  tests/test_fileclient.py
  tests/test_fileio.py
  tests/test_image/test_io.py
  tests/test_load_model_zoo.py
  tests/test_ops/test_nms.py
  tests/test_ops/test_tensorrt.py
  tests/test_runner/test_basemodule.py
  tests/test_runner/test_checkpoint.py
  tests/test_runner/test_eval_hook.py
  tests/test_runner/test_hooks.py
  tests/test_utils/test_config.py
Labels: P1

#2180 Update CI
  .github/workflows/build.yml
  mmcv/version.py
Labels: P1

#2212 [Feature] Add carafe op for MLU
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/carafe.py
  mmcv/ops/csrc/common/mlu/carafe_mlu_kernel.mlu
  mmcv/ops/csrc/common/mlu/carafe_utils.hpp
  mmcv/ops/csrc/common/mlu/common_mlu_helper.hpp
  mmcv/ops/csrc/common/pytorch_mlu_helper.hpp
  mmcv/ops/csrc/pytorch/mlu/carafe_mlu.cpp
  tests/data/for_carafe/carafe_feat.bin
  tests/data/for_carafe/carafe_feat_grad.bin
  tests/data/for_carafe/carafe_mask.bin
  tests/data/for_carafe/carafe_mask_grad.bin
  tests/data/for_carafe/carafe_output.bin
  tests/test_ops/test_carafe.py
Labels: MLU

#2172 [Refactor] Use MODELS registry in `mmengine`, delete basemodule
  docs/en/understand_mmcv/cnn.md
  docs/en/understand_mmcv/registry.md
  docs/zh_cn/understand_mmcv/cnn.md
  docs/zh_cn/understand_mmcv/registry.md
  mmcv/cnn/__init__.py
  mmcv/cnn/bricks/__init__.py
  mmcv/cnn/bricks/activation.py
  mmcv/cnn/bricks/context_block.py
  mmcv/cnn/bricks/conv.py
  mmcv/cnn/bricks/conv2d_adaptive_padding.py
  mmcv/cnn/bricks/conv_module.py
  mmcv/cnn/bricks/conv_ws.py
  mmcv/cnn/bricks/drop.py
  mmcv/cnn/bricks/generalized_attention.py
  mmcv/cnn/bricks/hsigmoid.py
  mmcv/cnn/bricks/hswish.py
  mmcv/cnn/bricks/non_local.py
  mmcv/cnn/bricks/norm.py
  mmcv/cnn/bricks/padding.py
  mmcv/cnn/bricks/plugin.py
  mmcv/cnn/bricks/registry.py
  mmcv/cnn/bricks/swish.py
  mmcv/cnn/bricks/transformer.py
  mmcv/cnn/bricks/upsample.py
  mmcv/cnn/bricks/wrappers.py
  mmcv/cnn/builder.py
  mmcv/cnn/resnet.py
  mmcv/cnn/utils/__init__.py
  mmcv/cnn/utils/weight_init.py
  mmcv/cnn/vgg.py
  mmcv/ops/carafe.py
  mmcv/ops/cc_attention.py
  mmcv/ops/deform_conv.py
  mmcv/ops/modulated_deform_conv.py
  mmcv/ops/multi_scale_deform_attn.py
  mmcv/ops/saconv.py
  mmcv/ops/sparse_conv.py
  mmcv/ops/sync_bn.py
  mmcv/runner/__init__.py
  mmcv/runner/base_module.py
  tests/test_cnn/test_build_layers.py
  tests/test_cnn/test_conv_module.py
  tests/test_cnn/test_model_registry.py
  tests/test_cnn/test_transformer.py
  tests/test_cnn/test_weight_init.py
  tests/test_runner/test_basemodule.py
Labels: P0

#2202 [Feature] Support MaskedConv2d with cambricon MLU backend
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/common/mlu/common_mlu_helper.hpp
  mmcv/ops/csrc/common/mlu/masked_conv2d_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/masked_conv2d_mlu.cpp
  tests/data/for_masked_conv2d/masked_conv2d_for_bias.npy
  tests/data/for_masked_conv2d/masked_conv2d_for_input.npy
  tests/data/for_masked_conv2d/masked_conv2d_for_mask.npy
  tests/data/for_masked_conv2d/masked_conv2d_for_output.npy
  tests/data/for_masked_conv2d/masked_conv2d_for_weight.npy
  tests/test_ops/test_masked_conv2d.py
Labels: MLU

#2215 [Feature] Support ThreeNN with cambricon MLU backend
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/common/mlu/three_nn_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/three_nn_mlu.cpp
  mmcv/ops/three_nn.py
  tests/test_ops/test_three_nn.py
Labels: MLU

#2137 [Feature] Support DeformRoiPool with cambricon MLU backend
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/common/mlu/deform_roi_pool_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/deform_roi_pool_mlu.cpp
  tests/test_ops/test_deform_roi_pool.py
Labels: MLU
