Repository open-mmlab/mmcv, pull requests merged in 2023-01, with the labels that each got.

#2510 [Enhance] Optimize the performace of ms_deform_attn for MLU device
  mmcv/ops/csrc/common/mlu/ms_deform_attn_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/ms_deform_attn_mlu.cpp
Labels: MLU

#2487 [Feature] Support PSAMask op for Ascend device
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/pytorch/npu/psa_mask_npu.cpp
  tests/test_ops/test_psa_mask.py
Labels: NPU

#2500 [Feature] Support Voxelization with cambricon MLU device
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/common/mlu/voxelization_mlu_kernel.mlu
  mmcv/ops/csrc/pytorch/mlu/voxelization_mlu.cpp
  tests/test_ops/test_voxelization.py
Labels: MLU

#2483 [Feature] Add Ascend support for RoIPool op
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/pytorch/npu/roi_pool_npu.cpp
  tests/test_ops/test_roi_pool.py
Labels: NPU

#2519 [Fix] Fix a dilation bug of MLU-DCNv2 and add limitation of torchvision
  mmcv/ops/modulated_deform_conv.py
Labels: MLU

#2501 [Feature] Pick npu ops from master to 2.x
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/common/pytorch_npu_helper.hpp
  mmcv/ops/csrc/pytorch/npu/deform_roi_pool.cpp
  mmcv/ops/csrc/pytorch/npu/focal_loss_npu.cpp
  mmcv/ops/csrc/pytorch/npu/fused_bias_leakyrelu_npu.cpp
  mmcv/ops/csrc/pytorch/npu/nms_npu.cpp
  mmcv/ops/csrc/pytorch/npu/psa_mask_npu.cpp
  mmcv/ops/csrc/pytorch/npu/roi_pool_npu.cpp
  mmcv/ops/deform_conv.py
  mmcv/ops/focal_loss.py
  mmcv/ops/masked_conv.py
  mmcv/ops/modulated_deform_conv.py
  mmcv/utils/__init__.py
  mmcv/utils/device_type.py
  setup.py
  tests/test_ops/test_deform_roi_pool.py
  tests/test_ops/test_focal_loss.py
  tests/test_ops/test_fused_bias_leakyrelu.py
  tests/test_ops/test_psa_mask.py
  tests/test_ops/test_roi_pool.py
Labels: NPU

#2556 [Fix] Check the version of torchvision in __init__ of DCN
  mmcv/ops/deform_conv.py
  mmcv/ops/modulated_deform_conv.py
Labels: MLU

#2520 [Feature] Support ball_query with cambricon MLU backend and mlu-ops library.
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/pytorch/mlu/ball_query_mlu.cpp
  mmcv/ops/csrc/pytorch/mlu/mlu_common_helper.cpp
  mmcv/ops/csrc/pytorch/mlu/mlu_common_helper.h
  setup.py
  tests/test_ops/test_ball_query.py
Labels: MLU

#2546 [Fix] Fix the parameter error of DeformableRoiPool in Ascend device
  mmcv/ops/csrc/pytorch/npu/deform_roi_pool.cpp
Labels: NPU

#2550 [Feature] Add support for Ascend devices with nms_rotated
  docs/en/understand_mmcv/ops.md
  docs/zh_cn/understand_mmcv/ops.md
  mmcv/ops/csrc/pytorch/nms_rotated.cpp
  mmcv/ops/csrc/pytorch/npu/nms_rotated_npu.cpp
  mmcv/ops/csrc/pytorch/pybind.cpp
  mmcv/ops/nms.py
  tests/test_ops/test_nms_rotated.py
Labels: NPU

#2477 [CodeCamp #18] add ops bbox_overlaps
  mmcv/ops/bbox.py
  mmcv/ops/csrc/pytorch/cpu/bbox_overlaps_cpu.cpp
  tests/test_ops/test_bbox.py
Labels: CodeCamp
